<% layout("/layouts/boilerplate.ejs") -%>
<body>
  <div class="row offset-2">
    <div class="col-9 text-center">
      <h1><%= data.title %></h1>
      <div><%=data.description%></div>
      <div class="row text-center my-2">
        <img
          class="col-6 offset-3"
          src="<%=data.image%>"
          alt="image-not-Loaded"
          style="height: 20rem; border-radius: 2rem"
        />
        <div>Owned by <%= data.owner?.username %></div>

        <div>&#8377; <%=data?.price?.toLocaleString("en-IN")%></div>
        <div><%=data.location%></div>
        <div><%=data.country%></div>
      </div>
      <% //if(data && user && data.owner?._id.equals(user._id) ){ %>
      <div class="row mb-4">
        <div class="col-6">
          <button class="btn btn-dark">
            <a
              href="/listings/<%= data._id %>/edit"
              style="color: white; text-decoration: none"
              >Edit Listing</a
            >
          </button>
        </div>
        <div class="col-6">
          <form
            action="http://localhost:8080/listings/<%= data._id %>/delete?_method=DELETE"
            method="post"
          >
            <button type="submit" class="btn btn-danger">DELETE</button>
          </form>
        </div>
      </div>
      <%// } %>
      <div>
        <button>
          <a href="http://localhost:8080/listings/<%= data._id %>/review"
            >ADD REVIEW</a
          >
        </button>
      </div>

      <% if(data.reviews.length){ %>
      <div class="reviewContainer row m-4">
        <% for(let e of data.reviews){ %>

        <div class="card text-white bg-info m-2 col-5">
          <div class="card-header"><%= e.rating %> Stars</div>
          <div class="card-body">
            <h5 class="card-title"><%= e.comment%></h5>
            <p class="card-text">~<%= e.author.username %></p>
            <form
              action="http://localhost:8080/listings/<%= data._id %>/review/<%= e._id %>?_method=DELETE"
              method="post"
            >
              <button type="submit" class="del-icon-btn">
                <p class="del-icon"><i class="fa-solid fa-trash"></i></p>
              </button>
            </form>
          </div>
        </div>

        <% } %>
      </div>
      <% } %>
    </div>
  </div>
</body>
